* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  height: 100%;
}

.category {
  border-radius: 5px;
  /* border: 1px #d4a373 solid; */
  background-color: var(--fourth-color);
  h3 {
    text-align: center;
    margin: 0;
    color: black;
    font-weight: 600;
  }
  .draggableContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    >div{
      flex: 0 0 100%;
    }

    .task {
      background-color: var(--third-color);
      width: 100%;
    }
  }
}
