* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  height: 100%;
}

.category {
  border-radius: 5px;
  border: 1px black solid;

  h3 {
    text-align: center;
  }
  .draggableContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
