@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #ccd5ae;
  --color-seconday: #e9edc9;
  --color-third: #fefae0;
  --color-fourth: #faedcd;
  --color-fifth: #d4a373;

  --color-fontColor: black;

  --font-display: "Inter", sans-serif;

  --color-danger: #cc3300;
  --color-danger-secondary: #ff9966;
  --color-safe: #339900;
  --color-safe-secondary: #99cc33;

  --animate-drop-to-view: drop-to-view 0.5s ease-out forwards;
  --animate-slide-to-view: slide-to-view 0.5s ease-out forwards;

  @keyframes drop-to-view {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-to-view {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
